[Unit]
Description=debian-autoshutdown plugin service
Requires=network-online.target local-fs.target
After=network-online.target local-fs.target
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Environment="LOG_STDOUT=false"
User=root
Type=simple
Restart=always
RestartSec=3
RestartPreventExitStatus=0 138 139 140 141 142
PIDFile=/run/autoshutdown.pid
ExecStart=/usr/sbin/autoshutdown

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
