[Unit]
Description=autoshutdown
After=network.target

[Service]
Type=simple
PIDFile=/var/run/autoshutdown.pid
ExecStart=/usr/sbin/autoshutdown.sh

[Install]
WantedBy=multi-user.target
