Source: openmediavault-autoshutdown
Section: misc
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers (plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://omv-extras.org

Package: openmediavault-autoshutdown
Architecture: all
Depends: fping,
         openmediavault (>= 4.0.16),
         pm-utils,
         sysstat,
         net-tools,
         ${misc:Depends}
Conflicts: autoshutdown
Priority: optional
Description: OpenMediaVault AutoShutdown Plugin
 Web interface for autoshutdown script.
 .
 Allow system to be automatically shutdown based on use rather than a specified time.
