{{ pillar['headers']['multiline'] }}

ENABLE="{{ config.enable | to_bool | lower }}"
CYCLES={{ config.cycles }}
SLEEP={{ config.sleep }}
IPCHECK="{{ config.ipcheck | to_bool | lower }}"
RANGE="{{ config.range }}"
{%- if config.shutdowncommand == 0 %}
SHUTDOWNCOMMAND="shutdown -h now"
{%- elif config.shutdowncommand == 1 %}
SHUTDOWNCOMMAND="systemctl hibernate"
{%- elif config.shutdowncommand == 2 %}
SHUTDOWNCOMMAND="systemctl suspend"
{%- elif config.shutdowncommand == 3 %}
SHUTDOWNCOMMAND="systemctl hybrid"
{%- endif %}
CHECKCLOCKACTIVE="{{ config.checkclockactive | to_bool | lower }}"
UPHOURS="{{
    '%02d' % config.uphours_begin }}:{{ '%02d' % config.upmins_begin }}..{{
    '%02d' % config.uphours_end }}:{{ '%02d' % config.upmins_end }}"
CHECKSOCKETS="{{ config.checksockets | to_bool | lower }}"
NSOCKETNUMBERS="{{ config.nsocketnumbers }}"
ULDLCHECK="{{ config.uldlcheck | to_bool | lower }}"
ULDLRATE={{ config.uldlrate }}
LOADAVERAGECHECK="{{ config.loadaveragecheck | to_bool | lower }}"
LOADAVERAGE={{ config.loadaverage }}
HDDIOCHECK="{{ config.hddiocheck | to_bool | lower }}"
HDDIO_RATE={{ config.hddiorate }}
CHECK_SAMBA="{{ config.checksamba | to_bool | lower }}"
CHECK_CLI="{{ config.checkcli | to_bool | lower }}"
CHECKPROCNAMES="{{ config.checkprocnames | to_bool | lower }}"
LOADPROCNAMES="{{ config.loadprocnames }}"
TEMPPROCNAMES="{{ config.tempprocnames }}"
PLUGINCHECK="{{ config.plugincheck | to_bool | lower }}"
SYSLOG="{{ config.syslog | to_bool | lower }}"
VERBOSE="{{ config.verbose | to_bool | lower }}"
FAKE="{{ config.fake | to_bool | lower }}"
{%- if config.extraoptions | length > 0 %}
{{ config.extraoptions }}
{%- endif %}
